.AppNewProject {
  background-color: #f4f2f2;
  div {
    width: 40%;
    margin: auto;
    padding: 15px 0;
    h1 {
      text-align: center;
      padding: 10px 0;
      font-size: 7vw;
    }
    p {
      color: gray;
      font-size: 2vw;
    }
    form {
      margin: 35px 0;
      label {
        font-weight: 600;
      }
      input, select {
        border: none;
        background-color: #FFF;
        margin: 7px 0 18px 0;
        padding: 9px;
        width: 100%;
      }
      button {
        border: none;
        margin: 10px 0 0 0;
        padding: 10px;
        background-color: #222222;
        .Link {
          transition: 0.5s;
          text-decoration: none;
          color: #FFF;
        }
        .Link:hover {
          color: #F9A826;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .AppNewProject {
    div {
      width: 80%;
      h1 {
        font-size: 11vw;
      }
      p {
        text-align: center;
        font-size: 2.7vw;
      }
    }
  }
}