* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.App{
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
    padding: 0 3%;
    height: 5em;
    img{
      height: 2.5rem;
    }
    ul{
      display: flex;
      text-decoration: none;
      list-style: none;
      margin: 0 5% 0 0;
      li {
        margin: 0 10px;
        color: #FFF;
      }
      li:hover{
        color: #F9A826;
      }
    }
  }
  .container {
    display: flex;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      font-size: 5vw;
      span{
        padding: 2px;
        background-color: #222222;
        color: #F9A826;
      }
    }
    p {
      color: gray;
      font-size: 1.8vw;
      margin: 20px 0;
    }
    button {
      border: none;
      padding: 10px;
      background-color: #222222;
      color: #FFF;
    }
    button:hover {
      color: #F9A826;
    }
    img {
      height: 20rem;
      margin: 2% 0 30% 0;
    }
  }
  
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    background-color: #222222;
    main {
      ul {
        display: flex;
        li{
          list-style: none;
          margin: 0 15px;
        }
      }
      p {
        padding: 2px;
        background-color: #222222;
        color: #F9A826;
        text-align: center;
        margin: 20px 0;
        span {
          color: #FFF;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
    .App{
      header {
        img {
          height: 1.4rem;
        }
        ul {
          margin: 0 0 0 -10%;
          li {
            font-size: .8rem;
          }
        }
      }
      .container {
        h1 {
          font-size: 4vh;
        }
        p {
          font-size: 1.5vh;
        }
        img {
          margin: 5% 0 40% 0;
          height: 40vh;
        }
      }
    }
  }